{% extends 'base.html' %}
{% block header %}
    <form method="GET" id="search_box">
        <input type="text" name="q" value="{{ request.args.get('q') }}" placeholder="¿Buscas algo?">
        <button>Buscar</button>
    </form>
    <h1>{% block title %}Publicaciones{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('blog.create_post') }}">Nuevo post</a>
    {% endif %} 
{% endblock %}

{% block content %}
    {% for post in posts %}
        <article class="post">
            <header>
                <div>
                    <h1>{{ post['title'] }}</h1>
                    <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
                </div>
                {% if g.user['id'] == post['author_id'] %}
                    <a href="{{ url_for('blog.update_post', post_id=post['id']) }}" class="action">Editar</a>
                {% endif %} 
            </header>
            <p class="body">
                {{ post['content'] }}
            </p>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}

{% endblock %}