{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Editando: {{ post['title'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form action="" method="POST">
        <label for="title">Post title</label>
        <input id="title" type="text" name="title" value="{{ request.form['title'] or post['title'] }}">
        <label for="content">Post title</label>
        <textarea name="content" id="content" cols="30" rows="40">
{{ request.form['content'] or post['content'] }}
        </textarea>
        <button type="submit">Guardar</button>
    </form>
    <form method="POST" action="{{ url_for('blog.delete_post', post_id=post['id']) }}">
        <input type="submit" value="Eliminar post">
    </form>
{% endblock %}